public struct {{name}} : {{entityType}} {
	public static readonly Category CATEGORY = {{category}};
    public Category category { get { return {{name}}.CATEGORY; } }

    {{#children}}
    public static readonly List<I{{childInterface}}> CHILDREN = new[] { {{#each classNames}}{{this}}{{#unless @last}}, {{/unless}}{{/each}} };
    public List<I{{childInterface}}> children { get { return {{../name}}.CHILDREN; } }
    {{/children}}
}