public struct {{name}} {

{{#each fields}}
    public {{type}} {{name}};
{{/each}}

    private {{name}}({{#each fields}}{{name}}:{{type}}{{#unless @last}}, {{/unless}}{{/each}}) {
    {{#fields}}
        this.{{name}} = {{name}};
    {{/fields}}
    }

{{#constructors}}
    public static {{name}} = new {{../name}}({{#each values}}{{this}}{{#unless @last}}, {{/unless}}{{/each}});
{{/constructors}}
}